@charset "utf-8";
.Section.nav {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow-y: visible;
	overflow-x: visible;
	color: rgba(0,0,0,1.00);
	text-align: justify;
}
.Section.nav {
	color: rgba(37,33,71,0.62);
	background-color: rgba(218,218,218,1.00);
}
.Section.nav {
}
body {
	background-image: url(../../Pictures/Screenshots/background.jpg);
	color: rgba(0,0,0,1.00);
}
.Section.nav #navbar1 {
}
.paragraph {
	border-radius: 20px;
	width: 50%;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 5%;
	padding-right: 5%;
}
.paragraph p {
	background-color: rgba(140,155,172,0.98);
	text-align: left;
	overflow-y: visible;
	width: 50%;
	border-radius: 20px;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 5%;
	padding-bottom: 5%;
	float: right;
}
aside {
	width: 50%;

}
body aside h1 {
	width: 50%;
	padding-right: 2%;
	padding-left: 2%;
	margin-right: 2px;
	float: left;
	font-style: italic;
	font-size: xx-large;
	margin-left: 2px;
	background-color: rgba(128,152,172,1.00);
}
body footer p {
	margin-top: 10px;
	clear: both;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(42,168,202,1.00);
}
